*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-color: transparent;
}


#navigator{
	position: fixed;
	top: 0;
	width: 100%;
	/* background-color: #afe2de; */
	height: 100px;
	z-index: 2;
}

#ada_logo{
	display: inline-block;
	height: 100px;
	margin-left: 80px;
}

nav ul{
	float:right;
	margin:0 20px;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 35px 30px;
}

nav a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
}

nav a:hover{
	color:#4cb0a8;
	border-bottom: solid 1px;
}


#sec_main_page{
	height: 100vh;
	width: 100%;
}

.container{
	text-align: center;
	top: 32vh;
	position: relative;
}
.container span{
	text-transform: uppercase;
	display: block;
}
.text1{
	color:white;
	font-size: 72px;
	/* font-weight: 7; */
	letter-spacing: 4px;
	margin-bottom: 20px;
	/* color: #4cb0a8; */
	color: white;
	/* background: white; */
	text-stroke: 4px white;
	-webkit-text-stroke: 4px white;
	position: relative;
	animation: text 3s,1;
}
.text2{
	margin-top: 40px;
	font-size: 30px;
	text-stroke: 1px white;
	font-weight: 900;
	letter-spacing: 10px;
	/* -webkit-text-stroke: 1px white; */
	/* color: #4cb0a8; */
	color: white;
}
@keyframes text{
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

.count{
	margin:40px 0;
	margin-top: 80px;
	color: white;
}

.countd{
	display:inline-block;
	width: 120px;
	height: 120px;
	border:2px solid;
	font-weight: 900;
	margin:0 30px;
	font-size: 12px;
	border-radius: 50%;
	overflow: hidden;
}
.countd span{
	display: block;
	font-size: 26px;
	margin-top: 14px;
}

.nav-link-a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 1.3rem;
  color:dimgrey;
  margin-left: 25px;
  
 
}

.navbar-logo-a{
    width: auto;
    max-height: 250%;
    display: none; 
}

#days, #hours, #minutes, #seconds {
	font-size: 48px;
}

#sec_about{

}

#sec_timeline{

}


#sec_judge{

}

#sec_sponsors{
	display: block 



}

.ezImage{
	width: 200px;
	height:100px;
	display:inline-block;
}

#sec_qa{

}

#sec_footer{

}
