/* *{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-color: transparent;
} */

.bannerLogo {
  height: inherit;
  width: auto;
}

.anchor,
.a::before {
  background-color: #29006344;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #4356ff;
  transition: 0.2s;
}
.nav-item:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
}
a.navbar-brand,
a.logo {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
}

.cover {
  min-height: 50rem;
  height: auto;
  width: 100%;
  padding-top: 1rem;
}

.cover h1 {
  font-weight: 200;
}

.cover p.lead {
  margin: 2rem auto;
  color: rgba(255, 255, 255, 0.75);
}

.cover .cover-container {
  display: table;
  height: 100%;
  min-height: 44rem;
  margin: 0 auto;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0 !important;
}

.container {
  text-align: center;
  position: relative;
}
.container span {
  text-transform: uppercase;
  display: block;
}
.text1 {
  color: white;
  font-size: 72px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  color: white;
  -webkit-text-stroke: 4px white;
  position: relative;
  animation: text 3s, 1;
}
.text2 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 10px;
  /* -webkit-text-stroke: 1px white; */
  /* color: #4cb0a8; */
  color: white;
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.count {
  margin: 40px 0;
  margin-top: 80px;
  color: white;
}

.countd {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 2px solid;
  font-weight: 900;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.countd span {
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

.nav-link-a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 1.3rem;
  color: dimgrey;
  margin-left: 25px;
}

.navbar-logo-a {
  width: auto;
  max-height: 250%;
  display: none;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 48px;
}

#sec_about {
}

#sec_timeline {
}

#sec_judge {
}

#sec_sponsors {
  padding: 0;
}

.sponsor_title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #4cb0a8;
  background: white;
  text-align: center;
  position: relative;
  display: block;
  margin-top: 100px;
}

.sponsor_container {
  display: inline-block;
  min-height: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.sponsor_container span {
  text-transform: uppercase;
  display: block;
}

.card {
  min-height: 300px;
  width: auto;
}

.card-body.text-center {
  max-height: 300px;
}

.card-text {
  max-height: 200px;
}

.sp0 {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover .sp0 {
  opacity: 1;
}

.sp1 {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover .sp1 {
  opacity: 1;
}

.sp2 {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  max-height: 300px;
}
.main-slider {
  height: 300rpx;
}

.card:hover .sp2 {
  opacity: 1;
}

#sec_qa {
}

#sec_footer {
}
/*FOOTER*/

footer {
  background: #16222a;
  background: -webkit-linear-gradient(30deg, #3a6073, #16222a);
  background: linear-gradient(30deg, #3a6073, #16222a);
  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoWechat:hover {
  background-color: #5cc928;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoWechat:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
.footer-font {
  font-size: 30px;
}

.footerstyle {
  font-weight: bold;
}
.col-md-3 {
  margin-right: auto;
}
