*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
  	background-color: transparent;
}

#navigator{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #afe2de;
	height: 100px;
	z-index: 2;
}

#ada_logo{
	display: inline-block;
	height: 100px;
	margin-left: 80px;
}

nav ul{
	float:right;
	margin:0 20px;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 35px 30px;
}

nav a{
	color:#444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
}

nav a:hover{
	color:#4cb0a8;
	border-bottom: solid 1px;
}

.container{
	text-align: center;
	top: 20vh;
	position: relative;
}
.container span{
	text-transform: uppercase;
	display: block;
}

.overlay0 {
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: #ee0bd9;
  }
  
  .card:hover .overlay0 {
	opacity: 1;
  }

  .overlay1 {
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: #e94734;
  }
  
  .card:hover .overlay1 {
	opacity: 1;
  }

  .overlay2 {
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: #e7ee0b;
  }
  
  .card:hover .overlay2 {
	opacity: 1;
  }

  .overlay3 {
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: #0b76ee;
  }
  
  .card:hover .overlay3 {
	opacity: 1;
  }

  .overlay4 {
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: #42ee0b;
  }
  
  .card:hover .overlay4 {
	opacity: 1;
  }